.Text {
	font: var(--font-normal);
	font-family: var(--font-primary);
}

.Text--big {
    font-size: var(--size-big);
    line-height:  var(--line-big);
    font-weight: 400;
}

.Text--largest {
    font-size: var(--size-large);
    line-height:  var(--line-large);
    font-weight: 800;
}

.Text--large {
    font-size: var(--size-large);
    line-height:  var(--line-large);
    font-weight: 400;
}

.Text--medium {
    font-size: var(--size-medium);
    line-height:  var(--line-medium);
    font-weight: 700;
}

.Text--small {
    font-size: var(--size-small);
    line-height:  var(--line-small);
    font-weight: 700;
}

.Text--tiny {
    font-size: var(--size-small);
    line-height:  var(--line-small);
    font-weight: 500;
}

.Text--bold:not(.Text--heading) {
	font-weight: 700;
}

.Text--heading {
	font-family: var(--font-secondary);
}

.Text--outlined {
	height: fit-content;
	width: fit-content;
	
	display: inline-block;
	padding: var(--spacing-padding-tiny);
	position: relative;
	
	text-align: center;
	color: var(--color-zero);

	background-color: var(--color-secondary);
}

.Text--outlined::before, .Text--outlined::after {
	display: flex;
	position: absolute;	
	top: 50%;
	width: 100vw;

	content: '';
	background-color: var(--color-secondary);
	border: .5px solid var(--color-secondary);
}

.Text--outlined::before {
	left: calc(100% + var(--spacing-gap-big));
}

.Text--outlined::after {
	right: calc(100% + var(--spacing-gap-big));
}