.NavBar {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--spacing-gap-big);

	background: var(--color-primary);
}

.NavBar--mobile {
	width: 100%;
	height: fit-content;

	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: var(--spacing-gap-small);

	padding-bottom: var(--spacing-padding-tiny);
}

.NavBar__item {
	font: var(--font-normal-bold);
	color: var(--color-zero);
	text-decoration: none;
}

.NavBar__separator {
	width: 146px;
	height: 1px;

	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}