:root {
	--color-negative: #444444;
	--color-zero: #FFFFFF;
	
	--color-primary: #2E7BA2;
	--color-secondary: #DF9010;
	--color-tertiary: #C8DEEF;
	--color-quaternary: #FBF0DD;
	--color-quinary: #FACF9D;
}