.summerTheme {
	--color-base: #444444;

	--color-negative: #444444;
	--color-zero: #FFFFFF;
	
	--color-primary: #2E7BA2;
	--color-secondary: #DF9010;
	--color-tertiary: #C8DEEF;
	--color-quaternary: #FBF0DD;
	--color-quinary: #FACF9D;
}

.borealTheme {
	--color-base: #FFFFFF;
	
	--color-negative: #444444;
	--color-zero: #FFFFFF;
	
	--color-primary: #4650BD;
	--color-secondary: #008364;
	--color-tertiary: #304968;
	--color-quaternary: #36C1A0;
	--color-quinary: #B6BCFF;
}