@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --font-primary: 'Raleway',  sans-serif;
  --font-secondary: 'Calistoga', cursive;
  
  --font-normal: 500 var(--size-tiny)/var(--line-tiny) var(--font-primary); 
}

