@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --font-primary: 'Raleway',  sans-serif;
  --font-secondary: 'Calistoga', cursive;
  
  --font-big: 400 var(--size-big)/var(--line-big) var(--font-secondary); 
  --font-largest: 800 var(--size-large)/var(--line-large) var(--font-primary); 
  --font-large: 400 var(--size-large)/var(--line-large) var(--font-secondary); 
  --font-medium: 500 var(--size-medium)/var(--line-medium) var(--font-primary); 
  --font-small: 700 var(--size-small)/var(--line-small) var(--font-primary); 
  --font-tiny: 700 var(--size-tiny)/var(--line-tiny) var(--font-primary); 

  --font-normal: 500 var(--size-normal)/var(--line-normal) var(--font-primary); 
  --font-normal-bold: 700 var(--size-normal)/var(--line-normal) var(--font-primary); 
}

