:root{
	--line-big: clamp(3rem, 5.185vw + 1.833rem, 6.5rem);
	--line-large: clamp(4.5rem, 1.037vw + 4.267rem, 5.2rem);
	--line-medium: clamp(3.75rem, 1.185vw + 3.483rem, 4.55rem);
	--line-small: clamp(3rem, 1.333vw + 2.7rem, 3.9rem);
	--line-tiny: clamp(2.5rem, 1.481vw + 0.917rem, 3.25rem);
} 