.Footer {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-gap-big);

	text-align: center;
	
	padding: var(--spacing-padding-small);	
}

.Footer__network {
	text-align: center;
}

.summerTheme .Footer {
	background-color: var(--color-quinary);
}

.borealTheme .Footer {
	background-color: var(--color-primary);
}