.Banner {
	width: 100%;
	height: 70vw; /*ratio 270/360*/
	
	display: inline-flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	background-repeat: no-repeat;
	background-size: 100%;
}

.Banner--home {
	background-image: url('../../assets/images/banner-summer-mobile-homepage.png')
}

.Banner--map {
	background-image: url('../../assets/images/banner-summer-mobile-mappage.png')
}

.Banner--experience {
	background-image: url('../../assets/images/banner-summer-mobile-xppage.png')
}

.Banner--info {
	background-image: url('../../assets/images/banner-summer-mobile-infopage.png')
}

.Banner--buy {
	background-image: url('../../assets/images/banner-summer-mobile-buypage.png')
}

.Banner--ticket {
	background-image: url('../../assets/images/banner-summer-mobile-ticketpage.png')
}