.Banner {
	width: 100%;
	height: 70vw; /*ratio 270/360*/
	
	display: inline-flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	background-repeat: no-repeat;
	background-size: 100%;
}

.summerTheme .Banner--home.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-homepage.png')
}

.summerTheme .Banner--map.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-mappage.png')
}

.summerTheme .Banner--experience.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-xppage.png')
}

.summerTheme .Banner--info.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-infopage.png')
}

.summerTheme .Banner--buy.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-buypage.png')
}

.summerTheme .Banner--ticket.Banner--mobile {
	background-image: url('../../assets/images/mobile/summer/banner-ticketpage.png')
}

.borealTheme .Banner--home.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-homepage.png')
}

.borealTheme .Banner--map.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-mappage.png')
}

.borealTheme .Banner--experience.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-xppage.png')
}

.borealTheme .Banner--info.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-infopage.png')
}

.borealTheme .Banner--buy.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-buypage.png')
}

.borealTheme .Banner--ticket.Banner--mobile {
	background-image: url('../../assets/images/mobile/boreal/banner-ticketpage.png')
}